@charset "UTF-8";


/* CSS Document */

/*GIT 418
Chapter 9
Individual Case Project
 
Author: Matthew Dumm
Date: 11-1-18
 
Filename: pet-stylesheet.css */

/*The heading and nav I used background color:#84dba9, which is a sea-foam green. This makes it easier to read the black font against the busy background*/

/* Heading and Nav styles. */
header {
    height:50px;
    margin: 25px;
    max-width: 100%;
    position: relative;
    text-align:center;
    background-color:#84dba9;
}
h1 {
    color:black;
    background-color:#84dba9;
    float:left;
    padding:0;
    margin:25px;
    margin-right:115px;
    position:relative;
    top:-20px;
}
h2 {
    background-color:#84dba9;
    margin:25px;
    font-size:36px;
}
.nav {
    list-style-type:none;
    margin:0;
    padding:0;
    position:relative;
}

li {
    display:inline-block;
    float:left;
    margin:0;
}

li a {
    display:block;
    min-width:100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    color: black;
    background-color: #84dba9;
    text-decoration: none;
    
}
li:hover a {
    color:white;
    background-color:#5c9b77;
}
/* Heading and Nav Styles end.*/

/*body, image and text styles for all pages.*/
/* For the body I used a sans-serif text for easy reading and applied the sea-foam green background to my sections for readability. Each image provided will be located to the right of the text except for the home page.*/
body{
    width:1100px;
    background-color:white;
    background-image:url("pawprint1.JPG");
    background-size:1000px 800px;
    font-family: sans-serif;
}

#dog {
    position:relative;
    top:100px;
    left:250px;
}
#puppy {
    position: relative;
    width:300px;
    left: 30px;
    top: 75px;
}

#cat {
    position:relative;
    width:300px;
    left:150px;
    top:25px;
}
#lizard{
    position:relative;
    width:200px;
    top:25px;
}

h2 {
    font-size:24px;
}

h3 {
    text-align:center;
}

.welcome-pets {
    margin: 25px;
    text-align:center;
    background-color:#84dba9;
    padding:5px;
    float: left;
}
#calendar{
    margin: 25px;
    text-align:center;
    background-color:#84dba9;
    padding:5px;
    float: left; 
}
#pets {

    align-content:center;
}
.dog-intro {
    padding:5px;
    margin:25px;
    background-color:#84dba9;
    text-align:center;
}
#shelter {
    position: relative;
    top: 19px;
}
.dog-food {
    float:left;
    padding:5px;
    margin:5px;
    width:375px;
    background-color:#84dba9;
}
.security-intro {

    padding:5px;
    margin:5px;

    background-color:#84dba9;
}
input {
    float:left;
    margin:5px;
    clear:left;
}
label {
    float: left;
    margin:5px;
}
.breeds {
    float:left;
    padding:5px;
    margin:25px;
    width:325px;
    background-color:#84dba9;
}

.cat-intro {
    padding:5px;
    margin: 25px;
    text-align:center;
    background-color:#84dba9;
}

.type-cat {
    float:left;
    padding:5px;
    margin: 25px;
    width:200px;
    background-color:#84dba9;
}
.cat-food {
    float:left;
    padding:5px;
    margin:25px;
    width:200px;
    background-color:#84dba9;
}

.small-intro{
    margin:25px;
    padding:5px;
    background-color:#84dba9;
    text-align:center;
}
.mammals {
    float:left;
    padding:5px;
    margin:25px;
    width:200px;
    background-color:#84dba9;
}
.lizards {
    float:left;
    padding:5px;
    margin:25px;
    width:200px;
    background-color:#84dba9;
}
.fish {
    float:left;
    padding:5px;
    margin:25px;
    width:200px;
    background-color:#84dba9;
}
#cal {
   display: none;
   position: absolute;
   left: 230px;
   top: 65px;
   background: black;
   color: white;
   padding: 10px;
   -moz-border-radius-topleft: 10px;
   -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
   -moz-border-radius-topright: 10px;
   -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

#cal table {
   clear: both;
}

#cal table caption {
   font-weight: bold;
   font-size: 14pt;
   margin-top: 10px;
   margin-bottom: 10px;
   background: rgb(46,49,146);
}

#cal table th {
   text-align: right;
}

#cal table th, #cal table td {
   width: 2em;
   padding: 4px;
}

#cal table td {
   color: rgb(178,184,183);
   text-align: right;
   cursor: pointer;
}

#prev {
   float: left;
   padding: 4px;
   cursor: pointer;
}

#next {
   float: right;
   padding: 4px;
   cursor: pointer;
}

#cal table td.futuredate {
   color: white;
}

#cal table td.futuredate:hover, #prev:hover, #next:hover, #close:hover {
   background: yellow;
   color: black;
}

#close {
   color: white;
   float: right;
   padding: 0 4px;
   cursor: pointer;
}

#close span {
   font-size: 20pt;
}
#buttonHeading {
    position: relative;
}
#petBox {
    clear:both;
}

#petBox ul li {
    padding-right: 20px;
    position:relative;
    left:300px;
}

/*body, image and text styles for all pages end.*/

/*copyright and footer styles for all pages.*/
/* The same color and font applies to the footer for readability.*/
.copyright {
    text-align:center;
    font-size:18px;
}
.cat-copyright {
    position:absolute;
    left:410px;
    font-size:18px;
}
.small-copyright {
    position:absolute;
    left:410px;
    font-size:18px;
}
.dog-copyright {
    position:absolute;
    left:410px;
    font-size:18px;
}
#catfooter {
    bottom:-300px;
}
footer { 
        height:50px;
        background-color:#84dba9;
        color:black;
        text-align:center;
        margin:25px;
        position:relative;
        bottom:-400px;
}
/*copyright and footer styles for all pages end.*/

